<ui-input label="Username" value={{username}} {{action "updateName" on="input"}}>
  <div slot="suffix">@digilar.se</div>
</ui-input>

<ui-button raised {{action 'signIn'}}>Sign in</ui-button>

{{username}}