<paper-input label="Username" value={{username}} {{action "updateName" on="input"}}>
  <div slot="suffix">@digilar.se</div>
</paper-input>

<paper-button raised {{action 'signIn'}}>Sign in as {{username}}</paper-button>