<h1 class="h1">5.</h1>

<h2 class="mb2">Actions!</h2>

<h3 class="mb2">All ember actions and events just works. No need to be passed in and handled in the component.</h3>

{{code-snippet name="actions.hbs"}}

<p class="mb1">All ember events supported:</p>
<paper-card>
  <div class="card-content">
    touchStart,
    touchMove,
    touchEnd,
    touchCancel,
    keyDown,
    keyUp,
    keyPress,
    mouseDown,<br>
    mouseUp,
    contextMenu,
    click,
    doubleClick,
    mouseMove,
    focusIn,
    focusOut,
    mouseEnter,
    mouseLeave,
    submit,<br>
    change,
    focusIn,
    focusOut,
    input,
    dragStart,
    drag,
    dragEnter,
    dragLeave,
    dragOver,
    dragEnd,
    drop.

  </div>
</paper-card>