<h1 class="h1">4.</h1>

<h2 class="mb2">Extend web component from ember component</h2>

{{code-snippet name="extend.js"}}

<p>becomes:</p>

{{code-snippet name="extend.hbs"}}

<p>And with a link-to:</p>

{{#link-to 'start' tagName="paper-button"}}Start over{{/link-to}}

{{code-snippet name="linkto.hbs"}}